{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><br>
    <div class="card">
        <div class="card-body">
            <div class="centrar1">
                <h1>Quienes somos</h1>
                <p>ServiEspress es una compañia especializada en la mantencion, reparación y cambio de piezas de vehiculos de todo tipo.</p>
                <!-- carrusel -->
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="presentacion" src="../static/img/presentacion.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img class="presentacion" src="../static/img/presentacion2.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img class="presentacion" src="../static/img/presentacion3.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!-- servicios -->
    <div class="card">
        <div class="card-body">
            <div class="centrar2">
                <h1>Nuestros servicios</h1>
                <p>Estamos orientados en brindar la mejor atención y servicio en la mantención de su vehículo, dándole un valor agregado y ofreciéndole 
                la seguridad que su inversión siempre estará en buenas manos.</p>
                <div class="galeria">
                    <div class="foto">
                        <img class="servicio" src="../static/img/servicios/servicio1.png" alt="">
                    </div>
                    <div class="pie">
                        <p>Reparación y mantención</p>
                    </div>
                </div>
                <div class="galeria">
                    <div class="foto">
                        <img class="servicio"  src="../static/img/servicios/servicio2.jpg" alt="">
                    </div>
                    <div class="pie">
                        <p>Limpieza</p>
                    </div>
                </div>
                <div class="galeria">
                    <div class="foto">
                        <img class="servicio"  src="../static/img/servicios/servicio3.jpg" alt="">
                    </div>
                    <div class="pie">
                        <p>Cambio de aceite</p>
                    </div>
                </div>
                <div class="galeria">
                    <div class="foto">
                        <img class="servicio" src="../static/img/servicios/servicio4.png" alt="">
                    </div>
                    <div class="pie">
                        <p>Instalación de piezas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
































































    
{% endblock %}
